
<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <h1 class="text-center login-title">Please sign in</h1>
    <div class="account-wall">
      <img class="profile-img" src="/assets/sign_in.png">
      <%= form_tag sessions_path {}, {:class => "form-signin"} do %>
        <input type="text" class="form-control" name="email" placeholder="Email" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <label class="checkbox pull-left">
          <input type="checkbox" name="remember_me">Remember me
        </label>
        <a href="mailto:support@rekwire.com" class="pull-right need-help">Need help?</a><span class="clearfix"></span>
      <% end %>
    </div>
    <a href="#" class="text-center new-account">Create an account </a>
  </div>
</div>

