form name='form' class='form-horizontal' ng-init='item=ctrl.person'
  - groups = [ \
      new_form_group(label: 'Given name',  type: 'text',  name: 'givenName',   ng_model: 'item.givenName'),
      new_form_group(label: 'Middle name', type: 'text',  name: 'middleName',  ng_model: 'item.middleName', required: false, placeholder: '(optional)'),
      new_form_group(label: 'Family name', type: 'text',  name: 'familyName',  ng_model: 'item.familyName'),
      new_form_group(label: 'Email',       type: 'email', name: 'email',       ng_model: 'item.email').error(:email, 'Invalid email address'),
    ]
  - groups.each { |group| group.options[:control_width] = 7 }
  ==groups.map(&:horizontal).join ''

  div class='form-group'
    div class='col-sm-offset-5 col-sm-7'
      button class='btn btn-primary' ng-click='editor.commit()' ng-disabled='form.$invalid' Update 
      button< class='btn btn-default' ng-click='editor.cancel()'  Cancel 

