form name='form' ng-init='item=list.editor.newItem'
  div class='form-group' show-errors=true
    label Given name *
    input type='text' class='form-control' name='givenName' ng-model='item.givenName' required=true
  div class='form-group' show-errors=true
    label Family name *
    input type='text' class='form-control' name='familyName' ng-model='item.familyName' required=true
  div class='form-group' show-errors=true
    label Email *
    input type='email' class='form-control' name='email' ng-model='item.email' required=true
    p class='help-block' ng-if='form.email.$error.email' Invalid email address

  div class='form-group'
    - ng_click = 'list.editor.commit(); '
    button type='submit' class='btn btn-primary' ng-click=ng_click ng-disabled='form.$invalid' Add 
