div ng-init='helper=ctrl.newRegistrationHelper' 
  
  div class='alert alert-warning' ng-if='ctrl.positions.items.length==0'
    p 
      | No positions have been defined for this organisation.
      | An admin user needs to set these up 
      a href=admin_path via the admin screens


  div class='alert alert-info' ng-if='helper.positions.length==0'
    p Sorry, no can do. You already have registrations for all available positions

  div ng-if='helper.positions.length>0'

    form class='form-inline'
      label For which position do you want to register: 
      div class='form-group' style='padding-left: 20px'
        - ng_model = 'helper.position'
        - ng_change = 'helper.positionChanged()'
        - ng_options = 'o.name for o in helper.positions track by o.id'
        - placeholder = 'Please select'
        select allow-clear=true class='form-control' ng-model=ng_model ng-options=ng_options ng-change=ng_change s2='id' placeholder=placeholder
          option
    
    div ng-if='helper.position' style='padding-top: 20px'

      div ng-if='helper.busy'
        p 
          span> class="fa fa-spinner fa-spin"
          | Fetching... 
         
      div ng-if='!helper.busy'
           
        div ng-if='helper.items.length==0'
          
          p class='alert alert-info'
            | There are no submission requirements for this position

        div ng-if='helper.items.length>0'

          p 
            | To complete this registration you will be asked to supply the items listed below. 
            | Items marked 
            span<> class='fa fa-ban'
            | are mandatory. For others you may request that the submission requirement be waived in your case. 

          ul class='fa-ul'
            li ng-repeat='item in helper.items'
              span> class='fa-li fa' ng-class="{'fa-ban': item.mandatory, 'fa-circle-o': !item.mandatory}"
              | {{item.submittable.name}} 
              small class='text-info'
                | {{item.submittable.description || 'No description provided'}}

          p 
            | Do you want to continue?

          div class='form-group'
            - href="/registrations/new?person=#{@person.id}&position={{helper.position.id}}"
            a href=href class='btn btn-primary' Yes, create registration
            button< class='btn btn-default' ng-click="ctrl.focus=undefined" Not now

