form name='form' method='get'
  div class='form-group'
    label First name
    input class='form-control' name='given_name' value=params[:given_name]
  div class='form-group'
    label Last name
    input class='form-control' name='family_name' value=params[:family_name]
  div class='form-group'
    label Position
    select class='form-control' name='position' s2=true onchange='this.form.submit()' placeholder='Any' allow-clear='true'
      option
      = options_from_collection_for_select @current_tenant.all(Position), :id, :name, params[:position]
  div class='form-group'
    label Status
    select class='form-control' name='status' s2=true onchange='this.form.submit()' placeholder='Any' allow-clear='true'
      option 
      - statuses = [:pending_approval, :approved].map { |status| [status.to_s.humanize, status] }
      = options_for_select statuses, params[:status]
  div class='form-group'
    button type='submit' class='btn btn-primary' Search
