div

  p class='help-block' ng-if='ctrl.submissions.length==0' 
    | No submissions yet

  table class='table' class='table-striped' ng-if='ctrl.submissions.length>0'
    thead
      tr
        th Item
        th Attachments
        th 
    tbody
      - ng_class="{'not-ok strike': submission.decision.ok==false}"
      tr ng-repeat-start='item in ctrl.submissions' ng-init='submission=item.current' ng-class=ng_class
        = render partial: 'submission', locals: { current: true }
      tr ng-repeat='submission in item.previous' ng-repeat-end=true ng-if='item.showPrevious' ng-class=ng_class
        = render partial: 'submission', locals: { current: false }

  hr 
  form class='form-inline small'
    | Submit new 
    form-group 
      - ng_model = 'ctrl.newSubmission.submittable'
      - ng_options = 'o.name group by o.category for o in ctrl.submittables track by o.id'
      - ng_change = 'ctrl.beginSubmission()'
      - placeholder = 'Please select'
      - style = "width: 300px;"
      select class='form-control input-sm' ng-model=ng_model ng-options=ng_options ng-change=ng_change s2='id' placeholder=placeholder style=style
        option
