td 
  - if current
    | {{item.submittable.name}} 
    a href='#' ng-click='item.showPrevious=!item.showPrevious' ng-if='item.previous.length>0' title='Show / hide previous submissions'
      span class='fa fa-history'
    br

  div ng-class="{indent20: item.showPrevious}"
    small
      div ng-repeat='entry in submission.entries'
        b 
          | {{entry.name}}
        | : {{entry.value}}
        span< class='label label-danger' ng-if="entry.error" {{entry.error}}
        span< class='label label-warning' ng-if="entry.warning" {{entry.warning}}

td class='small'
  =render 'attachments'      

td class='shrink small'
  x-decision-glyph item='submission'