== controller_div_with_busy_and_last_error 'PeoplePageCtrl as ctrl', ng_init: 'list=ctrl.list'

  ol class="breadcrumb"
    li class='active' People

  div class='row'

    div class='col-md-9'
      table id='people' class='table table-hover'
        thead
          tr
            th Name
            th Email
            th Registrations
        tbody
          tr ng-repeat='person in ctrl.persons.items'
            td
              a href='/people/{{person.id}}'
                | {{person.familyName}}, {{person.givenName}}
            td
              | {{person.email}}
            td 
              ul class='list-inline'
                li ng-repeat='reg in person.registrations'
                  a> href='/registrations/{{reg.id}}'
                    | {{reg.position.name}}
                  x-registration-glyph registration='reg' pull-right='false'

    div class='col-md-3'

      div class='panel panel-default' ng-if='list.items.length>20'
        div class='panel-heading'
          h3 class='panel-title'
            a data-toggle='collapse' href="#search" Search
        div class="panel-collapse collapse {{list.items.length > 20 ? 'in' : 'out'}}" id='search'
          div class='panel-body'
            =render 'search'

      div class='panel panel-default'
        div class='panel-heading'
          h3 class='panel-title'
            a data-toggle='collapse' href="#create" New person
        div class="panel-collapse collapse {{list.items.length == 0 ? 'in' : 'out'}}" id='create'
          div class='panel-body'
            =render 'new_person'

