javascript: 
  window.personId=#{@person.id}

ol class="breadcrumb"
  li
    a href=people_path People
  li class='active' =@person.full_name

== controller_div_with_busy_and_last_error 'PersonPageCtrl as ctrl', ng_init: 'person=ctrl.person'

    div class='row'

      div class='col-sm-4'

        div class='panel panel-default'
          div class='panel-heading'
            h3 class='panel-title' 
              a data-toggle='collapse' href="#personal_details" Personal details
          div class="panel-collapse collapse in" id='personal_details'
            div class='panel-body'
              div class='row'
                div class='col-sm-3' 
                  b Name
                div class='col-sm-9'
                  | {{ctrl.person.givenName}} {{ctrl.person.familyName}}
              div class='row'
                div class='col-sm-3' 
                  b Email
                div class='col-sm-9'
                  | {{ctrl.person.email}}
                  span class='pull-right' 
                    a href='#' ng-click="ctrl.focus='editPerson'" title='Edit'
                      ==glyph :edit

        div class='panel panel-default'
          div class='panel-heading'
            h3 class='panel-title' 
              a data-toggle='collapse' href="#registrations"
                | Registrations
          div class="panel-collapse collapse in" id='registrations'
            ul class='list-group'
              li class='list-group-item' ng-repeat='item in ctrl.registrations'
                a href="/registrations/{{item.id}}"
                  | {{item.position.name}}
                x-registration-glyph registration='item'
              li class='list-group-item small'
                a href='#' ng-click="ctrl.focus='newReg'"
                  span> class='fa fa-plus'
                  | Add new registration

        div class='panel panel-default'
          div class='panel-heading'
            h3 class='panel-title' 
              a data-toggle='collapse' href="#contacts"
                |  Emergency contacts
          div class="panel-collapse collapse in" id='contacts'
            ul class='list-group'
              li class='list-group-item small'
                a href='#'  ng-click="ctrl.focus='newContact'"
                  span> class='fa fa-plus'
                  | Add new emergency contact


      div class='col-sm-8' 

        div class='panel panel-default animated fadeIn' ng-if="ctrl.focus=='newReg'"
          div class='panel-heading'
            h3 class='panel-title' 
              |  New registration
          div class='panel-body'

            =render 'new_registration'

        div class='panel panel-default animated fadeIn' ng-if="ctrl.focus=='newContact'"
          div class='panel-heading'
            h3 class='panel-title' 
              |  New emergency contact
          div class='panel-body'

            p Sorry, not implemented yet

        div class='panel panel-default animated fadeIn' ng-if="ctrl.focus=='editPerson'"
          div class='panel-heading'
            h3 class='panel-title' 
              |  Edit personal details
          div class='panel-body'

            p Sorry, not implemented yet

        div class='panel panel-default' ng-if="!ctrl.focus"
          div class='panel-heading'
            h3 class='panel-title' 
              a data-toggle='collapse' href="#submissions"
                | Submissions
          div class="panel-collapse collapse in" id='submissions'
            div class='panel-body'

              =render 'submissions'

        div class='panel panel-default animated fadeIn' ng-if='ctrl.newSubmission.submittable' 
          div class='panel-heading'
            h3 class='panel-title' 
              | New submission: 
              b
                | {{ctrl.newSubmission.submittable.name}}
          div class='panel-body'

            =render partial: 'edit_submission', locals: { item: 'ctrl.newSubmission', commit: 'ctrl.commit()', cancel: 'ctrl.cancel()' }
