div class='form-group'
  button type='submit' class='btn btn-primary' ng-disabled='form.$invalid' ng-click="list.editor.commit()" 
    = edit ? 'Update' : 'Add'
  |   
  button type='submit' class='btn btn-default' ng-click='list.editor.cancel()' Cancel
  - if edit
    button type="button" class="btn btn-link pull-right" data-toggle="modal" data-target="#modal_confirm_remove"
      ==glyph_with_text 'trash', 'Remove'
