form name='form' novalidate=true class='animated fadeIn'

  div class='row'

    div class='col-sm-5'

      div class='form-group' show-errors=true
        label Name
        input type='text' class='form-control' name='name' ng-model='item.name' required=true

      div class='form-group' show-errors='select2-blur'
        label Category
        input type='text' class='form-control' name='category' s2-tag='list.categories.itemNames()' ng-model='item.category' required=true

    div class='col-sm-7'

      div class='form-group'
        label Fields to collect
        =render partial: 'edit_submittable_field', locals: {name: 'number', display: 'Number', with_as: true}
        =render partial: 'edit_submittable_field', locals: {name: 'issuedBy', display: 'Issued by', with_as: true}
        =render partial: 'edit_submittable_field', locals: {name: 'issueDate', display: 'Issue date', with_as: true}
        =render partial: 'edit_submittable_field', locals: {name: 'expiryDate', display: 'Expiry date', with_as: true}
        =render partial: 'edit_submittable_field', locals: {name: 'attachments', display: 'Attachments', with_as: false}

  div class='form-group' show-errors=true
    label Description (optional)
    - placeholder = "Provide a brief description of the submittable and why it may be required. " \
                    "When requiring attachments you should also provide guidance on the documents or scans to be submitted"  
    textarea class='form-control' rows=3 name='description' ng-model='item.description' placeholder=placeholder

  = render partial: 'edit_buttons', locals: { edit: edit }
