form name='form' novalidate=true class='animated fadeIn'

  div class='row'

    div class='col-sm-6'

      div class='form-group' show-errors=true
        label Name
        input type='text' class='form-control' name='name' ng-model='item.name' required=true

      div class='form-group' show-errors='select2-blur'
        label Tags
        input type='text' class='form-control' name='tags' s2-tags='list.tags.itemNames()' ng-model='item.tags'

      = render partial: 'edit_buttons', locals: { edit: edit }
     
