form name='form' novalidate=true class='animated fadeIn'

  h4 What is required?

  div class='row'

    div class='col-sm-6'
      div class='form-group' show-errors='select2-blur'
        - ng_options = 'o.name group by o.category for o in ctrl.submittables.choosables track by o.id'
        select class='form-control' name='target' ng-model='item.target' ng-options=ng_options s2='id' placeholder='Please select' required=true 
          option

  div
    h4 In which cases is it required?
    div class='form-group' 
      x-requirement-filter-chooser requirement='item' type='Position' list='ctrl.positions' ng-model='dummyPositionFilter'
        div class='row'
          div class='controls col-sm-6'
            input class='form-control' type='hidden'
          div class='col-sm-6'
            input class='form-control' type='hidden'

  div class='row'

    div class='col-sm-6'
      h4 When is it required?
      div class='form-group'
        div class='radio'
          label
            input type='radio' name='when' ng-model='item.when' ng-value="'upfront'" 
              | Upfront &ndash; users need to address this requirement in order to activate a registration
        div class='radio'
          label
            input type='radio' name='when' ng-model='item.when' ng-value="'soon'" 
              | Soon &ndash; users can see that this will be required but have the option of supplying the information later

    div class='col-sm-6'
      h4 Is the requirement mandatory?
      div class='form-group'
        div class='radio'
          label
            input type='radio' name='mandatory' ng-model='item.mandatory' ng-value='true' 
              | Yes &ndash; users must provide this information
        div class='radio'
          label
            input type='radio' name='mandatory' ng-model='item.mandatory' ng-value='false' 
              | No &ndash; users may request that the requirement be waived because of special circumstances
  
  div class='row'

    div class='col-sm-6'
      h4 Check submissions?
      div class='form-group'
        div class='radio'
          label
            input type='radio' name='check' ng-model='item.check' ng-value='true' 
              | Yes &ndash; submissions have to be reviewed as part of the approval process
        div class='radio'
          label
            input type='radio' name='check' ng-model='item.check' ng-value='false' 
              | No &ndash; submissions are assumed to be correct and valid

  = render partial: 'edit_buttons', locals: { edit: edit }

