form name='form' novalidate=true class='animated fadeIn'

  div class='row'
  
    div class='form-group col-sm-6' show-errors=true
      label Given name
      input type='text' class='form-control' name='given_name' ng-model='item.givenName' required=true

    div class='form-group col-sm-6' show-errors=true
      label Family name
      input type='text' class='form-control' name='family_name' ng-model='item.familyName' required=true

  div class='row'

    div class='form-group col-sm-6' show-errors=true
      label Email
      input type='email' class='form-control' name='email' ng-model='item.email' required=true

    div class='form-group col-sm-6' show-errors='select2-blur'
      label Tags
      input type='text' class='form-control' name='tags' s2-tags='list.tags.itemNames()' ng-model='item.tags'

  div class='row'

    div class="form-group col-sm-6 col-sm-offset-6"
      label Role
      div class='control-group'
        label class="radio-inline"
          input type="radio" name="admin" ng-value="true" ng-model="item.admin" Admin
        label class="radio-inline"
          input type="radio" name="admin" ng-value="false" ng-model="item.admin" Standard

  div class='row'
    div class='col-sm-6 col-sm-offset-6'
      = render partial: 'edit_buttons', locals: { edit: edit }

