div class='row form-horizontal'
  div class='col-sm-4'        
    div class="checkbox"
      label
        input type="checkbox" ng-model='item.#{name}' #{display} 
  - if with_as
    div  ng-class="{opaque: !item.#{name}}"
      div class='col-sm-1'
        p class="form-control-static" as
      div class='col-sm-7'
        input type="text" class="form-control input-sm" placeholder="#{display}" ng-model='item.#{name}As' ng-disabled="item.#{name}!=true"
