- caption_for_new ||= "Add new #{@display_name_singular}"
- condition_for_whats_this ||= 'list.items.length==0'
- total_cols = num_cols + (editable ? 1 : 0)
- ctrl = "#{@entity_name_plural.capitalize}PageCtrl as ctrl"

ul class="nav nav-tabs"
  li role="presentation" class=class_for_admin_tab('position', @display_name_singular)
    a href=admin_positions_path Positions
  li role="presentation" class=class_for_admin_tab('submittable', @display_name_singular)
    a href=admin_submittables_path Submittables
  li role="presentation" class=class_for_admin_tab('requirement', @display_name_singular)
    a href=admin_requirements_path Requirements
  li role="presentation" class=class_for_admin_tab('user', @display_name_singular)
    a href=admin_users_path Users
  li role="presentation" class=class_for_admin_tab('client', @display_name_singular)
    a href=admin_clients_path Clients
  li role="presentation" class=class_for_admin_tab('vendor', @display_name_singular)
    a href=admin_vendors_path Vendors

== controller_div_with_busy_and_last_error ctrl, ng_init: 'list=ctrl.list', class: 'row'

  div class='row' style='padding-top: 10px'

    div class='col-md-9'

      table class='table' ng-class="{'table-hover': !(list.editor.current)}"

        thead ng-class="{opaque : list.editor.current}"
          tr
            =yield :table_header
            - if editable
              th

        tbody

          tr class='animated' ng-repeat-start='item in list.view.items' ng-hide='list.editor.editing(item)' ng-class="{opaque : list.editor.current, flash: item.attentionSeeking}"
            = yield :view_item
            - if editable
              td class='shrink' align='right'
                = yield :view_item_glyphs
                a href='#' ng-click='list.editor.begin(item)' title='Edit'
                  span class='glyphicon glyphicon-edit'

          tr ng-repeat-end=true ng-if='list.editor.editing(item)'
            td colspan=total_cols
              = yield :edit_item

          tr ng-show='list.items.length==0' 
            td colspan=total_cols 
              p class='help-block' No #{@entity_name_plural} defined yet

          tr ng-show='list.items.length>0 && list.view.items.length==0' 
            td colspan=total_cols 
              p class='help-block' No matches

          - unless defined?(show_new) and show_new == false

            tr ng-hide='list.editor.editing(list.editor.newItem)' ng-class="{opaque : list.editor.current}"
              td colspan=total_cols
                a href='#' ng-click='list.editor.begin(list.editor.newItem)' 
                  == glyph_with_text :plus, caption_for_new

            tr ng-if='list.editor.editing(list.editor.newItem)'
              td colspan=total_cols ng-init='item=list.editor.newItem' 
                = yield :create_item

      div ng-hide='list.editor.current || list.items.length==0'
        = yield :after_main_table

      ==modal :modal_confirm_remove, "Remove #{@display_name_singular}?", 'list.editor.delete()' do
        p The <i>#{@display_name_singular}</i> <mark>{{list.editor.current.name}}</mark> will be completely removed from the system. Continue?

    div class='col-md-3'

      div class="alert alert-info alert-dismissible" role="alert"
        =yield :whats_this

      div ng-if='list.items.length>=5' style='padding-bottom: 16px'
        div
          input type='text' class='form-control' on-change='list.quickSearchFilter.setValue' ng-model='ctrl.qsf' placeholder='Quick search'
        div class='small' ng-if='list.items.length != list.view.items.length' style='padding-top: 5px'
          | Showing {{list.view.items.length}} of {{list.items.length}} 
          a href='#' ng-click='ctrl.qsf=""' Reset
      
      =yield :rhs


