- div_class  ||= 'tag-list'
- span_class ||= 'tag'
- panel_id = tag_list.gsub '.', '_'
- modal_key = "modal_confirm_remove_#{type}"

==collapsible_panel title, panel_id, "'in'", ng_init: "tags=#{tag_list}", ng_show: 'tags.items.length>0'
  div class="#{div_class}"
    span ng-repeat='tag in tags.items'
      span class="#{span_class}" ng-hide='tags.editor.editing(tag)'
        - if removable
          a href='#' ng-click='tags.editor.itemToDelete=tag' data-toggle='modal' data-target="##{modal_key}"  
            span aria-hidden='true' &times;
        '   
        span ng-click='tags.editor.begin(tag)'
          | {{tag.name}}
      form name='form' ng-if='tags.editor.editing(tag)' novalidate=true
        div class='input-group input-group-sm col-sm3'
          input type='text' class='form-control' ng-model='tag.name' unique='name in tags.items' required=true
          span class='input-group-btn'
            button type='submit' ng-click='tags.editor.commit()' ng-disabled='form.$invalid' class='btn btn-primary'
              == glyph :ok
          span class='input-group-btn'
            button type='button' ng-click='tags.editor.cancel()' class='btn btn-default'
              == glyph :remove

  - if removable
    ==modal modal_key, "Remove #{type}?", 'tags.editor.delete(tags.editor.itemToDelete)' do
      p The <i>#{type}</i> <mark>{{tags.editor.itemToDelete.name}}</mark> will be completely removed from the system. Continue?
