- content_for :table_header do 

  th Name
  th Start date
  th End date

- content_for :view_item do

  td 
    a href='{{item.client.home}}'
      | {{item.client.longName}}
  td 
    | {{item.startDate ? item.startDate : '-'}}
  td 
    | {{item.startDate ? item.startDate : '-'}}

- content_for :whats_this do
  p <b>Clients</b> are 3rd party organisations for which you are allowed to register personnel.
  p Start and end date (both optional) refer to the contractual relationship between your organisation and the client 
    organisation. If set, they restrict when you can register personnel and for what time frame. 
  p To make any changes, or to become a vendor to a new client, please <a href='#'>contact support</a>. 

= render partial: 'layout', locals: {num_cols: 3, editable: false, show_new: false, condition_for_whats_this: true}
