div id='admin'
  div class='row'
    div class='col-sm-6'
      ==admin_panel 'Positions', admin_positions_path do
        | Define and manage your positions (job titles) <br>
        | Use tags to manage arbitrary groups of positions (e.g. 'high risk', 'skilled', etc.) 
        | <br>
      ==admin_panel 'Submittables', admin_submittables_path do
        | Define and manage your <i>submittables</i>. These are things like qualifications 
        | and professional memberships that will need to be submitted  
        | when registering for a position
      ==admin_panel 'Requirements', admin_requirements_path do
        | This is where you define which submittables apply to which positions. 
        | You can also define necessary approvals and other stuff.
    div class='col-sm-6'
      ==admin_panel 'Users', admin_users_path do
        | Manage <i>direct</i> users of this application <br>
        | Control access levels (admin, standard, etc.)<br>
        | Invite new users by email
      ==admin_panel 'Vendors', admin_vendors_path do
        | Manage external organisations that are allowed to register personnel with you <br>
        | Control contract start and end dates (where applicable) <br>
      ==admin_panel 'Clients', admin_clients_path do
        | View external organisations with which you are allowed to register personnel <br>
        | View contract start and end dates (where applicable) 

  
