- content_for :table_header do 

  th Name
  th Tags

- content_for :view_item do

  td 
    | {{item.name}}
  td 
    span class='tag' ng-repeat='tag in item.tags'
      | {{tag}}

- content_for :edit_item do
  =render partial: 'edit_position', locals: {edit: true}

- content_for :create_item do
  =render partial: 'edit_position', locals: {edit: false}

- content_for :whats_this do
  p <b>Positions</b> reflect the roles or job titles within your organisation or project.
  p You can optionally use tags to create arbitrary groups of positions. This is 
    especially useful when you want to define requirements that apply to groups of 
    positions rather than just a single position.
  p 
    | Defining one or more positions is generally the first port of call when you are setting up. 
    | The next step is to start defining your 
    a href=admin_submittables_path submittables


- content_for :rhs do

  = render partial: "panel_for_taglikes", locals:  {  title: 'Tags', type: 'tag', 
                                                      tag_list: 'ctrl.list.tags', removable: true }
                                                            

= render partial: 'layout', locals: {num_cols: 2, editable: true}
