- content_for :table_header do 

  th What?
  th In which cases?
  th When?

- content_for :view_item do

  td
    span ng-if="item.type=='Submittable'"
      | {{item.$target.name}}
    span ng-if="item.type=='Approval'"
      | Approval by 
      mark
        | {{item.$target.firstName}} {{item.$target.lastName}}
  td
    div
      x-requirement-filter ng-model='item.filters' type='Position' list='ctrl.positions'
        | {{filterRangeDescriptor}} 
        mark ng-if='filterReferenceDescriptor'
          | {{filterReferenceDescriptor}}

  td 
    span ng-if="item.when=='upfront'" Upfront
    span ng-if="item.when=='soon'" Soon


- content_for :view_item_glyphs do
  span ng-if='item.mandatory'
    ==glyph 'ban-circle'
  span<> ng-if='item.check'
    ==glyph 'ok-circle' 

- content_for :edit_item do
  =render partial: 'admin/edit_requirement', locals: {edit: true}

- content_for :create_item do
  =render partial: 'admin/edit_requirement', locals: {edit: false}

- content_for :whats_this do
  div class='help-block'
    p 
      b> Requirements 
      | allow you to define which
      a<> href=admin_submittables_path submittables
      | are required for which 
      a< href=admin_positions_path positions
      | . 
    p Where you require a particular submission for some, but not all, positions, it is generally best to 
      group the positions together with a tag. 
    p Other requirement options allow you to control (i) which submissions are needed <b>upfront</b> vs 
      those that can be dealt with later, (ii) which are <b>non-negotiable</b> vs those you might be prepared to waive, and
      (iii) which need an explicit <b>approval</b> vs those where spot checks will suffice.
    p class='small'
      | <b>Key:</b> 
      ==  glyph 'ban-circle' 
      |  = mandatory 
      ==  glyph 'ok-circle' 
      |  = check 


= render partial: 'layout', locals: {num_cols: 3, editable: true, condition_for_whats_this: true}
