- content_for :table_header do 

  th Name
  th Category
  th Fields

- content_for :view_item do

  td 
    | {{item.name}}
  td 
    | {{item.category}}
  td class='small' 
    | {{ctrl.fieldNames(item).join(', ')}}

- content_for :view_item_glyphs do
    span<> ng-if='item.attachments'
      ==glyph :paperclip 

- content_for :edit_item do
  =render partial: 'edit_submittable', locals: {edit: true}

- content_for :create_item do
  =render partial: 'edit_submittable', locals: {edit: false}

- content_for :whats_this do
  div class='help-block'
    p 
      b Submittables 
      | are things that you can 
      a href=admin_requirements_path require 
      |  to be <i>submitted</i> as part of a registration. 
      | Examples might include academic and vocational qualifications, driver's license, professional memberships, insurances, etc.
    p 
      | All submittables have a name and, for display and grouping purposes, a category.
    p 
      | You can also specify additional information to be included in a submission such as <b>issue date</b> (when the submittable was 
      | issued) or <b>number</b> (unique identifier as for e.g. driver's license). In each such case you can optionally provide a 
      | custom name for the field (e.g. <b>completion date</b> rather than <b>issue date</b>) if appropriate. You can also specify
      | whether users should supply supporting documentation in the form of attachments. 
    p class='small'
      | <b>Key:</b> 
      ==  glyph 'paperclip' 
      |  = attachments 

- content_for :rhs do

  = render partial: "panel_for_taglikes", locals:  {  title: 'Categories', type: 'category', 
                                                      tag_list: 'ctrl.list.categories', removable: false }

= render partial: 'layout', locals: {num_cols: 3, editable: true}
