- content_for :table_header do 

  th Name
  th Email
  th Role
  th Tags

- content_for :view_item do

  td 
    | {{item.givenName}} {{item.familyName}}
  td 
    | {{item.email}}
  td 
    | {{item.admin ? 'Admin user' : 'Standard user'}}
  td 
    span class='tag' ng-repeat='tag in item.tags'
      | {{tag}}

- content_for :edit_item do
  =render partial: 'edit_user', locals: {edit: true}

- content_for :create_item do
  div class='well' 
    p Sorry, we haven't built this (yet).
    p In the not too distant far distant future you will be able to create new users here and they will receive invitations by email.
    p Until then, however, this is a manual process. Please <a href="#">contact support</a> with the names and email addresses 
      of the folks you want to add and we'll take care of it for you.
    button class='btn btn-primary' ng-click='list.editor.cancel()' Ok


- content_for :whats_this do
  p This is where you manage your <i>direct</i> users.
  p All users can submit registrations. Only admin users can manage positions, submittables, users etc. 
  p You must have at least one admin user configured. An admin user can remove admin permissions from a different  
    admin user but not from themselves.


- content_for :rhs do

  = render partial: "panel_for_taglikes", locals:  {  title: 'Tags', type: 'tag', 
                                                      tag_list: 'ctrl.list.tags', removable: true }
                                                            

= render partial: 'layout', locals: {num_cols: 4, editable: true, caption_for_new: 'Invite new user'}
