- content_for :table_header do 

  th Name
  th Start date
  th End date

- content_for :view_item do

  td 
    | {{item.vendor.longName}}
  td 
    | {{item.startDate ? item.startDate : '-'}}
  td 
    | {{item.startDate ? item.startDate : '-'}}

- content_for :whats_this do
  p <b>Vendors</b> are 3rd party organisations that are allowed to register personnel with you.
  p Start and end date (both optional) refer to the contractual relationship between your organisation and the vendor  
    organisation. If set, they restrict when the vendor can register personnel and for what time frame. 
  p Vendors manage their own users. The existence of a relationship with a vendor means that all 
    vendor users have (standard) access to your application.
  p To make any changes, or to invite a new vendor, please <a href='#'>contact support</a>. 


= render partial: 'layout', locals: {num_cols: 3, editable: false, show_new: false, condition_for_whats_this: true}
