div class='row'
  div class='col-md-3'
    div class="panel panel-default"
      div class="panel-heading"
        h3 class="panel-title" Context
      div class="panel-body"
        form name="form" method="get"
          div class="form-group"
            label Position
            select class="form-control" name="position" onchange="this.form.submit()" s2=true data-placeholder='Select position'
              option
              = options_from_collection_for_select @current_tenant.all(Position), :id, :name, @ctx.position.try(:id)
  div class='col-md-9'
    - if  @ctx.empty?
      div class="alert alert-info" role="alert"
        strong Requirements <br>
        | Choose stuff on the left to reflect what you want to do. <br>
        | Over here you will then see a list of the requirements that apply.
    - else
      div class="panel panel-default"
        div class="panel-heading"
          h3 class="panel-title" Applicable requirements
        div class="panel-body"
          table class="table"
            thead
              th Type
              th Required
              - unless @ctx.full? 
                th Other conditions
            tbody>
              - @applicables.each do |req|  
                tr
                  td= req.target.category
                  td= req.target.name
                  - unless @ctx.full?
                    td
                      - req.filters.each do |filter|
                        - if @ctx.get(filter.type).nil?
                          = to_html(filter).html_safe


