div ng-if='evt.obj.review' style='padding-top: 15px'
  button class='btn btn-success' ng-click="evt.show=false; editor.reviews.decide(evt.obj.review, '#{type}', true)"
    span> class='fa fa-thumbs-o-up'
    =accept
  button< class='btn btn-danger' ng-click="evt.show=false; editor.reviews.decide(evt.obj.review, '#{type}', false)"
    span> class='fa fa-thumbs-o-down'
    =decline
