ul class='list-group'

  li class='list-group-item text-success' ng-if='ctrl.tasks.length==0' 
    | Congratulations, all todos <b>done</b> and nothing on the radar!

  - ng_class="{strike: task.resolved, flash: task.attentionSeeking}"
  li class='list-group-item' class='animated' ng-repeat='task in ctrl.tasks' ng-class=ng_class ng-switch=true on='task.problem'

    span ng-switch-when='no_submission'
      | You need to have <b>{{task.submittable.name}}</b>
    span ng-switch-when='rejected_submission'
      | Your <b>{{task.submittable.name}}</b> submission was rejected 
    span ng-switch-when='incorrect_submission'
      | Your <b>{{task.submittable.name}}</b> details are incomplete 
    span ng-switch-when='expired_submission'
      | Your <b>{{task.submittable.name}}</b> has expired 
    span ng-switch-when='expiring_submission'
      | Your <b>{{task.submittable.name}}</b> expires soon  
    span ng-switch-default=true
      | There is a problem with your <b>{{task.submittable.name}}</b> details 

    - ng_class = '{disabled: task.resolved || ctrl.currentTask}'
    button< class='btn btn-link btn-xs' ng-class=ng_class ng-click='editor.submissions.begin(task)' ng-switch=true on='task.problem'
      span ng-switch-when='no_submission'
        | Supply details
      span ng-switch-when='rejected_submission'
        | Try again
      span ng-switch-default=true
        | Update details
    button class='btn btn-link btn-xs' ng-class=ng_class ng-if='!task.requirement.mandatory' ng-click='editor.exemptions.begin(task)' 
      | Request waiver

    span class='label pull-right' ng-class='task.label.css'
      | {{task.label.when}}

    div class='animated fadeIn' ng-if='task==editor.submissions.current' style='padding-top: 20px'
      =render partial: 'edit_submission', locals: { item: 'editor.submissions.current', 
                                                    commit: 'editor.submissions.commit()', 
                                                    cancel: 'editor.submissions.cancel()' }

    div class='animated fadeIn' ng-if='task==editor.exemptions.current.task' style='padding-top: 20px'
      form name='form' novalidate=true
        div class='form-group'
          -placeholder='Please outline why you think this requirement should be waived in your case'
          textarea class='form-control' ng-model='editor.exemptions.current.reason' placeholder=placeholder required=true
        div class='form-group'
          button class='btn btn-primary' ng-disabled='form.$invalid' ng-click='editor.exemptions.commit()' Request waiver
          button< class='btn btn-default' ng-click='editor.exemptions.cancel()' Cancel
