table class='table table-condensed'
  tbody
    tr ng-repeat='evt in ctrl.timeline' class='animated' ng-class="{flash: evt.attentionSeeking}"
      
      - ng_class="{'bg-reviewer': evt.isReviewerEvent, 'bg-submitter': !evt.isReviewerEvent}"
      - style='padding-left: 10px; padding-right:10px'
      td class='shrink' style=style ng-class=ng_class
        span class='text-muted small'
          | {{evt.by}} 
      
      td ng-switch=true on='evt.type'
      
        div ng-switch-when='registration' Created this registration

        div ng-switch-when='decision'

          span> class='text-success' ng-if='evt.obj.ok' Accepted
          span> class='text-danger' ng-if='!evt.obj.ok' Rejected
          
          | your {{evt.obj.submission.submittable.name}} submission

          span< ng-if='!evt.obj.ok' 
            a href='#' ng-click='evt.show=!evt.show'
              span class='caret'

          div ng-if='evt.show' class='animated fadeIn' style='padding-top: 15px; padding-bottom: 15px'
            i To do: Collect reason when rejecting a submission and show here

        div ng-switch-when='submission'

          div ng-init='submission=evt.obj'

            div ng-click='evt.show=!evt.show'
              | Submitted {{evt.obj.submittable.name}} 
              a href='#' 
                span class='caret'

            div ng-if='evt.show' class='animated fadeIn' style='padding-top: 15px; padding-bottom: 15px'
              
              div ng-repeat='entry in submission.entries'
                b 
                  | {{entry.name}}
                | : {{entry.value}}
              
              div ng-if='submission.attachments.length>0'
                b Attachments: 
                =render 'attachments'      

              =render partial: 'decision', locals: {  accept: 'Accept submission',
                                                      decline: 'Reject submission',
                                                      type: 'Submission' }      

        div ng-switch-when='exemption_request' 
          
          div ng-click='evt.show=!evt.show'
            | Requested waiver of {{evt.obj.requiredSubmission.name}} requirement
            a href='#' 
              span class='caret'

          div ng-if='evt.show' class='animated fadeIn' style='padding-top: 15px; padding-bottom: 15px'

            b Reason given: 
            i
              | {{evt.obj.reason}}

              =render partial: 'decision', locals: {  accept: 'Accept waiver',
                                                      decline: 'Reject waiver',
                                                      type: 'ExemptionRequest' }      

        div ng-switch-default=true 
          
          div ng-click='evt.show=!evt.show'
            | {{evt.type}} 
            a href='#' 
              span class='caret'

          div ng-if='evt.show' class='animated fadeIn' style='padding-top: 15px; padding-bottom: 15px'
            small
              | {{evt}} 
              

      td class='shrink text-muted small'
        x-rel-date date='evt.when' capitalize=true
