div class='row'

  div class='col-md-9'

    ==panel 'Registrations' do
      - if @registrations.empty?
        - if @filtered_search
          p No matching registrations found
        - else
          p There are no registrations yet
      - else
        table class='table table-hover'
          thead       
            th Person
            th Position
            th Submitted by
            th Submitted on
            th Status
            th
          tbody
            - @registrations.each do |reg|
              - row_class = reg.cancelled? ? 'cancelled-block' : ''
              tr class=row_class
                td 
                  a href=person_path(reg.person.id) =reg.person.full_name
                td =reg.position.name
                td =reg.submitter.full_name
                td =reg.created_at.to_date.to_formatted_s(:rfc822)
                td class=style_for_decision(reg)
                  - if reg.pending_approval?
                    a< href=registration_path(reg.id) =reg.current_status_name 
                  - else
                    = reg.current_status_name 
                td class='shrink' 
                  a href=person_path(reg.person.id) title='View person'
                    ==glyph 'user'
                  a< href=registration_path(reg.id) title='View registration'
                    ==glyph 'eye-open'

  div class='col-md-3'
    div class='panel panel-default'
      div class='panel-heading'
        h3 class='panel-title' Search
      div class='panel-body'
        form name='form' action=registrations_path method='get'
          div class='form-group'
            label First name
            input class='form-control' name='given_name' value=params[:given_name]
          div class='form-group'
            label Last name
            input class='form-control' name='family_name' value=params[:family_name]
          div class='form-group'
            label Position
            select class='form-control' name='position' s2=true onchange='this.form.submit()' placeholder='Any' allow-clear='true'
              option
              = options_from_collection_for_select @current_tenant.all(Position), :id, :name, params[:position]
          div class='form-group'
            label Status
            select class='form-control' name='status' s2=true onchange='this.form.submit()' placeholder='Any' allow-clear='true'
              option 
              - statuses = [:pending_approval, :approved].map { |status| [status.to_s.humanize, status] }
              = options_for_select statuses, params[:status]
          div class='form-group'
            button type='submit' class='btn btn-primary' Search 
