javascript: 
  window.registrationId=#{params[:id]}

== controller_div_with_busy_and_last_error 'RegistrationPageCtrl as ctrl'

  ol class="breadcrumb"
    li
      a href=people_path People
    li
      a ng-attr-href='/people/{{ctrl.person.id}}' 
        | {{ctrl.person.givenName}} {{ctrl.person.familyName}}
    li class='active' 
      | {{ctrl.position.name}}
      x-registration-glyph< registration='ctrl' pull-right='false'

  div class='row' ng-init='editor=ctrl.editor'

    div class='col-sm-9'

      div class='panel panel-default'
        div class='panel-heading'
          h3 class='panel-title' Registration todos

        = render 'submitter_tasks'

      div class='panel panel-default'
        div class='panel-heading'
          h3 class='panel-title' Timeline

        = render 'timeline'

    div class='col-sm-3'

      div class='panel panel-default'
        div class='panel-heading'
          h3 class='panel-title' Review todos
        div class='panel panel-body small'

          p  ng-if='ctrl.reviews.length>0'                
            ul class='fa-ul'
              - ng_class="{strike: review.resolved, flash: review.attentionSeeking}"
              li ng-repeat='review in ctrl.reviews' class='animated' ng-class=ng_class
                a href='#' ng-click='editor.reviews.open(review)' ng-class="{disabled: review.resolved}"
                  span class='fa-li fa' ng-class="{'fa-eye-slash': review.isExemption, 'fa-eye': !review.isExemption }"
                  | {{review.submittable.name}}
          p class='help-block' ng-if='ctrl.reviews.length==0'
            | Nothing to do at this time