div class='jumbotron'
  h1 Welcome to mittygate!
  p This page is a placeholder for now. Will flesh it out as a dashboard once all the other content is in place.
  p
    a class='btn btn-primary btn-lg' href='#' role='button' Learn more

div class='row'
  div class='col-sm-4'
    h2 Heading
    p 
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    p
      a class='btn btn-default' href='#' role='button' View details &raquo
  div class='col-sm-4'
    h2 Heading
    p 
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    p
      a class='btn btn-default' href='#' role='button' View details &raquo
  div class='col-sm-4'
    h2 Heading
    p 
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    p
      a class='btn btn-default' href='#' role='button' View details &raquo
