<%
  pairs = [
    [ 'Organisation', @current_tenant.name ],
    [ 'Role', @current_user.admin ? 'Admin user' : 'Standard user' ], 
    [ 'Tags', @current_user.tags.count > 0 ? @current_user.tags.join(', ') : '-' ], 
    [ 'Email', '{{account.email}}' ], 
  ]

%>

<% pairs.each do |pair| %>
  <p>
    <div class="row">
      <div class="col-sm-3">
        <strong><%= pair.first %>:</strong>
      </div>
      <div class="col-sm-9">
        <%= pair.last %>
      </div>
    </div>
  </p>
<% end %>


