<form class="form-horizontal angular-form" name="form" x-change-password-ctrl novalidate>
  
  <%= alert 'info', 'success', 'Password successfully updated' %>
  <%= alert 'danger', 'error', 'Unexpected error. Your password has not been changed. Please try again' %>

  <%= horizontal_input 'Old password', 8, 'password', 'old', 'password.old', 
                        validations: [ ["correct", "Incorrect password"] ] %>

  <%= horizontal_input 'New password', 8, 'password', 'new', 'password.new', 
                        attributes: [ ['ng-minlength', 3] ],
                        validations: [ ["minlength", "Minimum password length is 6 characters"] ] %>

  <%= horizontal_input 'Confirm password', 8, 'password', 'conf', 'password.conf', 
                        attributes: [ ['equals', '{{password.new}}'] ],
                        validations: [ ["equals", "Not valid or does not match"] ] %>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button type="submit" class="btn btn-primary" ng-click="submit()">Update</button>
      <button type="button" class="btn btn-default" ng-disabled='form.$pristine' ng-click="cancel()">Cancel</button>
    </div>
  </div>

</form>      

