<form class="form-horizontal angular-form" name="form" x-change-personal-details-ctrl novalidate>
  
  <%= alert 'info', 'success', 'Personal details successfully updated' %>
  <%= alert 'danger', 'error', 'Unexpected error. Your details have not been changed. Please try again' %>

  <%= horizontal_input 'Given name', 9, 'text', 'given_name', 'account.givenName' %>

  <%= horizontal_input 'Family name', 9, 'text', 'family_name', 'account.familyName' %>

  <%= horizontal_input 'Email', 9, 'email', 'email', 'account.email', 
                        validations: [ ["email", "Not a valid email address"], 
                                       ['unique', 'Sorry, that email is (okay might be) already taken'] ] %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary" ng-click="submit()">Update</button>
      <button type="button" class="btn btn-default" ng-disabled='form.$pristine' ng-click="cancel()">Cancel</button>
    </div>
  </div>

</form>      


