<% 
  collapsible ||= false 
  collapsed   ||= 'in'
  panel_style ||= 'default'
%>

<div class="panel panel-<%= panel_style %>">
  <div class="panel-heading">
    <h3 class="panel-title">
      <% if collapsible %>
        <a data-toggle="collapse" data-parent="#accordion" href="#<%= title.parameterize %>"><%= title %></a>
      <% else %>
        <%= title %>
      <% end %>
    </h3>
  </div>
    <% if collapsible %>
      <div id="<%= title.parameterize %>" class="panel-collapse collapse <%= collapsed %>">
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="panel-body">
        <%= yield %>
      </div>
    <% end %>
</div>
