<div class="row" ng-app="app" ng-controller="AccountPageCtrl as ctrl" ng-init="account=page.items[0]">

  <div ng-if="ctrl.page.ready" ng-init="account=ctrl.page.items[0]">

    <div class="col-sm-6">
      <%= render partial: 'account_info', layout: 'panel', locals: { title: '{{account.givenName}} {{account.familyName}}' } %>
    </div>

    <div class="col-sm-6">
      <div class="panel-group" id="accordion">
        <%= render partial: 'edit_personal_details', layout: 'panel', locals: { title: 'Update personal details', 
                                                                                collapsible: true,
                                                                                collapsed: 'out' } %>
        <%= render partial: 'change_password', layout: 'panel',       locals: { title: 'Change password',
                                                                                collapsible: true,
                                                                                collapsed: 'out' } %>
      </div>
    </div>

  </div>

</div>



        