// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin div.panel {
  background-color: #EEEEEE;
}

#admin div.panel button {
  float: right;
}

