/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap
 *= require animate.min
 *= require_self
 */

div.loading {
  color: lightblue; 
  position: fixed;
  top: 50%; 
  left:50%; 
}

div.page-overlay {
  position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.5;
  pointer-events: none;
}

div.page-overlay-text {
  position: fixed;
  width: 100%; 
  top: 50%; 
  left: 0; 
  text-align: center;
  font-size: 750%;
}

.rotate-45 {
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

div.indent20 {
  padding-left: 20px;
}

div.vpad {
  padding-top: 5px;
  padding-bottom: 5px;
}

.error {
  color: red;
}

.pointer { 
  cursor: pointer; 
}

img.embedded {
  max-width: 500px;
  max-height: 500px;
}

h4.with-pagination {
  padding-top: 5px;
}

button.btn-link {
  color: #808080;
}
a.btn-link {
  color: #808080;
}
a.disabled {
   pointer-events: none;
   cursor: default;
   text-decoration: none;
}
.opaque {
  opacity: 0.3; /* Real browsers */
  filter: alpha(opacity = 30); /* MSIE */
}

.primary-editable-click, a.primary-editable-click {
  text-decoration: none;
  color: #428bca;
  border-bottom: dashed 1px #428bca;
  white-space: nowrap;
}

th.yesno {
  font-size: xx-small;
  text-align: center;
}
td.yesno {
  text-align: center;
}
td.shrink {
  width: 1%; 
  white-space: nowrap;
}
td.nowrap {
  white-space: nowrap;
}
.not-ok {
  color: red;
}
.ok {
  color: green;
}
.amber {
  color: orange;
}
.bg-reviewer {
  background-color: #fefdf6;
}
.bg-submitter {
  background-color: #f3f8fc;
}
.cancelled {
  color: lightgrey !important;
}
.strong {
  font-weight: bold; 
}
.strike {
  text-decoration: line-through; 
}
form.form-inline select.form-control {
  margin-left: 5px;
  margin-right: 5px;
}
.required:after { content:" *"; }