div.tag-list span.tag {
  margin-top: 3px;
  margin-bottom: 3px;
}

span.tag {
  display: inline-block;
  padding: 3px 3px;
  margin-right: 5px;
  font-size: 75%;
  background-color: #f9f2f4;
  border-radius: 4px;
  border: 1px solid #cccccc;
  white-space: nowrap;
}

