div ng-repeat='attachment in submission.attachments'
  x-attachment-info attachment='attachment' base-url=@s3.uploads_url
    a href="{{attachment.url}}" 
      | {{attachment.originalName}}
    a href="{{attachment.url}}" target='_blank' title='Show in new tab/window'
      span<> class='fa fa-external-link' 
    a<> href='#' ng-if="attachment.image" ng-click='attachment.show=!attachment.show' title='Show / hide (embedded)'
      span<> class='caret' 
    div ng-if='attachment.show' class='animated fadeIn'
      img class='embedded' ng-attr-src='{{attachment.url}}'
