form name='form' novalidate=true

  div class='alert alert-info' ng-if="#{item}.submittable.description"
    | {{#{item}.submittable.description}}

  div class='row'

    div class='col-sm-6'

      div class='form-group' ng-repeat="entry in #{item}.entries"
          label 
            | {{entry.name}}
          input type='{{entry.type}}' class='form-control' ng-model='entry.value' required=true

      div class='form-group' ng-if='entries.length==0'
          label Details
          div class='form-control-static'
            i No details are required for this submittable

      div class='form-group'
        button type='submit' class='btn btn-primary' ng-disabled='form.$invalid' ng-click=commit Add
        button< type='submit' class='btn btn-default' ng-click=cancel Cancel

    div class='col-sm-6' ng-if="#{item}.submittable.attachments"

      - s3_upload_attrs = { 'name' => 'upload', 'ng-model' => "#{item}.attachments", 'url' => @s3.url, 
                            'key' => @s3.key, 'policy' => @s3.policy, 'signature' => @s3.signature }

      s3-upload *s3_upload_attrs

        div class='form-group' s3-upload=true
          label 
            | Attachments
            span class='btn btn-link btn-xs btn-file'
              | {{files.length > 0 ? 'Add another file...' : 'Choose one or more files to upload...'}}
              input type='file' ng-file-select='onFileSelect($files)' multiple=true
          div class='form-control-static' 
            div ng-repeat="attachment in #{item}.attachments"
              | {{attachment.originalName}}
              span< class='not-ok' ng-if='attachment.error'
                | Darn, something went wrong <br>
                code
                  small
                    | {{attachment.error}}
              span< ng-if='!(attachment.error)'
                span< ng-if='attachment.uploaded'
                  a< href='#' ng-click='removeAttachment(attachment)' title='Remove'
                    == glyph :trash 
                  a< href="#{@s3.url}/uploads/{{attachment.s3Name}}" title='Open'
                    == glyph :save
                span< ng-if='!(attachment.uploaded)'
                  i uploading ({{attachment.progress}}%)
                  a< href='#' ng-click='removeAttachment(attachment)' title='Cancel'
                    == glyph :remove

            div ng-if='form.upload.$error.tooMany' class='not-ok' 
              | Too many files! Please try again
            div ng-if='form.upload.$error.tooMuch' class='not-ok' 
              | Max. total upload size is 5MB. Please try again
            div ng-if="!(#{item}.attachments.length>0)"
              i No files selected
