nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
  div class="container"
    div class="navbar-header"
      button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"
        span class="sr-only" Toggle navigation/span
        span class="icon-bar"
        span class="icon-bar"
        span class="icon-bar"
      a class="navbar-brand" href=root_path
        | mittygate 
        - if @current_tenant
          |  / 
          - span_class = @current_user_context.try(:home?) ? '' : 'not-home'
          span class=span_class
            =@current_tenant.name

    - if @current_tenant and @current_user
    
      div class="collapse navbar-collapse" id="navbar-collapse-1"
        ul class="nav navbar-nav"
          li class=class_for_nav_tab('people')
            a href=people_path People 
          li class=class_for_nav_tab('admin')
            a href=admin_positions_path Admin

        p class="navbar-text pull-right" 
          a href=account_path class='navbar-link' =@current_user.full_name
          - unless @current_user_context.home?
            |  on behalf of  
            a href=root_url(:subdomain => @current_user.tenant.short_name) class='navbar-link not-home'
              =@current_user.tenant.long_name 
          |  | 
          a< href=sign_out_path class='navbar-link' 
            span class='fa fa-sign-out'
            | Sign out

