doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="description" content=""
    meta name="author" content=""
    link  rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    link rel="shortcut icon" href="../../assets/ico/favicon.ico"

    title mittygate.com

    = stylesheet_link_tag 'application', media: 'all' 

    = javascript_include_tag 'angular-file-upload-shim'
    = javascript_include_tag 'application'
    = javascript_include_tag 'angular-file-upload'
    = javascript_include_tag 'bundle'


    = csrf_meta_tags 

  body style="padding-top: 70px; padding-bottom: 20px" ng-app='app'
    = render partial: 'layouts/navbar_main' 
    - roles = @roles.try(:map) { |r| r.to_s.camelize(:lower) } || []
    div class="container" ng-init="roles=#{roles.to_json}" x-helper='RolesHelper as userRole'
      = yield 
